<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<connectionStrings>
		<add name="tmuConnectionString" connectionString="data source=localhost;initial catalog=HRApply;user id=sa;pwd=@loo1211" providerName="System.Data.SqlClient" />
		<!--<add name="tmuConnectionString" connectionString="data source=chloe.tmu.edu.tw;initial catalog=HRApply;user id=HRApply;pwd=Rupnodhup881" providerName="System.Data.SqlClient"/>-->


		<add name="HrConnectionString" connectionString="Data Source=hrdb.tmu.edu.tw,2433;Initial Catalog=TMUHR;User ID=hrapply;Password=HPgg23xk7" providerName="System.Data.SqlClient" />

		<add name="AcadConnectionString" connectionString="Data Source=dior.tmu.edu.tw;Initial Catalog=Acad_Beta;User ID=AcadSys_R;Password=Nsjhp423g2d" providerName="System.Data.SqlClient" />
		<add name="AcerDBConnectionString" connectionString="Data Source=reltacademic.tmu.edu.tw;Initial Catalog=TMUDB;User ID=HRApply;Password=zxcvb13579" providerName="System.Data.SqlClient" />

		<add name="RPIConnectionString" connectionString="data source=chloe.tmu.edu.tw;initial catalog=RDRPI;persist security info=True;user id=HRApply;packet size=4096;pwd=Rupnodhup881" />
		<add name="SCIConnectionString" connectionString="data source=chloe.tmu.edu.tw;initial catalog=SCI;persist security info=True;user id=HRApply;packet size=4096;pwd=Rupnodhup881" />
		<add name="SendMailConnectionString" connectionString="Data Source=localhost;Initial Catalog=AutoEMAIL;User ID=sa;Password=@loo1211" providerName="System.Data.SqlClient" />
	</connectionStrings>



	<system.web>
		<sessionState timeout="60" />
		<httpRuntime maxRequestLength="30480" />
		<!-- 
            設定 compilation debug="true" 會將偵錯 
            符號插入編譯過的頁面。因為這樣會
            影響效能，所以只有在開發期間才能將
            這個值設定為 true。
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
			<codeSubDirectories>
				<add directoryName="cs" />
			</codeSubDirectories>
		</compilation>
		<!--
            <authentication> 區段可以用來設定 ASP.NET 
            使用的安全性驗證模式，以識別連入的 
            使用者。 
        -->
		<authentication mode="Windows" />
		<!--
            <customErrors> 區段可以用來設定 
            在執行要求期間發生未處理 
            錯誤時所要執行的動作。具體來說，
            它可以讓開發人員設定要顯示的 HTML 錯誤網頁，
            以取代錯誤堆疊追蹤。
			<error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        -->
		<!--<customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403"  redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
            
        </customErrors>-->
		<customErrors mode="On" defaultRedirect="~/ErrorPage.aspx" redirectMode="ResponseRewrite" />
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</controls>
		</pages>
		<httpHandlers>
			<add path="ChartImg.axd" verb="POST,GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler,System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
			<remove verb="*" path="*.asmx" />
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</httpModules>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>
	<!-- 
        需要 system.webServer 區段才能在 Internet Information Services 7.0 下
        執行 ASP.NET AJAX。舊版的 IIS 則不需要。
    -->
	<system.webServer>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated" />
			<remove name="ScriptHandlerFactory" />
			<remove name="ScriptHandlerFactoryAppServices" />
			<remove name="ScriptResource" />
			<add name="ChartImageHandler" preCondition="integratedMode" verb="POST,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="ScriptModule" />
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</modules>
		<defaultDocument>
			<files>
				<add value="Apply.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
	<startup>
		<supportedRuntime version="v2.0.50727" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.Serialization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

</configuration>
