
body {
 
  
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft JhengHei","Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
  font-size: 16px;
  font-size:1em;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: 800;
  line-height: 20px;
  color: inherit;
  /**
   * text-rendering: optimizelegibility;
   */
}
h1 {
  font-size: 38.5px;
  font-size: 2em;
}

h2 {
  font-size: 31.5px;
  font-size: 1.5em;
}

h3 {
  font-size: 24.5px;
 font-size: 1.35em
}

h4 {
  font-size: 17.5px;
  font-size: 1.25em;
}

h5 {
  font-size: 14px;
  font-size: 1.15em;
}

h6 {
  font-size: 11.9px;
  font-size: 1em;
}


.btn{
  font-size:0.95em;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    font-size:0.95em;

}

.navbar-inverse .navbar-inner {
  background-color: #d3a4ff;
  background-image: -moz-linear-gradient(top, #25a3cb, #25a3cb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#25a3cb), to(#25a3cb));
  background-image: -webkit-linear-gradient(top, #25a3cb, #25a3cb);
  background-image: -o-linear-gradient(top, #25a3cb, #25a3cb);
  background-image: linear-gradient(to bottom, #25a3cb, #25a3cb);
  background-repeat: repeat-x;
  border-color: #d3a4ff;  
}


.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #ffffff;  
}

.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .brand:focus,
.navbar-inverse .nav > li > a:focus {
  color: #ffffff;
}

.navbar-inverse .brand {
  color: #ffffff;
}

.navbar-inverse .navbar-text {
  color: #ffffff;
}

.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  color: #ffffff;
  background-color: transparent;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #ffffff;
  background-color: #25a3cb;
}

.navbar-inverse .navbar-link {
  color: #999999;
}

.navbar-inverse .navbar-link:hover,
.navbar-inverse .navbar-link:focus {
  color: #ffffff;
}

.navbar-inverse .divider-vertical {
  border-right-color: #222222;
  border-left-color: #111111;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  color: #ffffff;
  background-color: #111111;
}

.navbar-inverse .nav li.dropdown > a:hover .caret,
.navbar-inverse .nav li.dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #999999;
  border-bottom-color: #999999;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}


.navbar .nav {
  
  margin: 12px 10px 0 0;
}




.table-bordered {
  border: 1px solid #000000;
  border-left: 0;
 
}

.table-bordered th,
.table-bordered td {
  
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
}